@model NewProductForDB
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Thanks</title>
</head>
<body>
    <p>
        
        <h1>@ViewBag.Greeting !</h1>
    </p>
    <p>
        <a asp-action="Index">Нажмите сюда что б перейти на главную страницу</a>
    </p>
</body>
</html>

